<h1 class="text-3xl font-bold font-montserrat">Todos los productos <span class="text-accent">{{ gender() }}</span></h1>
<h2 class="text-xl mb-5">Para todos los gustos</h2>

<div class="grid grid-cols-1 md:grig-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">

@for (product of productsResource.value()?.products; track $index) {
   <product-card [product]="product" />
}

@empty {
  <p>No hay producto</p>
}


</div>


<app-pagination
  [pages]="productsResource.value()?.pages ?? 0"
  [currentPage]="this.paginationService.currentPage()"
/>
