/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
   themes: night;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}


@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/montserrat-alternates/montserratalternates-medium.ttf")
  format("truetype");
}

